<div>
	<snap-drawer> 
	<div class="snap-menu">
		<div class="sidebar-header text-center">
			<h1><strong><i aria-hidden="true" class="fa fa-rupee"></i>upic</strong></h1>
			<!--img class="sidebar-img img-circle" src="images/flat-avatar.png"-->
		</div>
		<ul class="snap-ul">
			<li ng-class="{active: $state.includes('overview')}">
			<a ui-sref="overview">Dashboard</a></li>
			<li ng-class="{active: $state.includes('reports')}">
			<a ui-sref="reports">Pickup Details</a></li>
			<li><a ui-sref="login">LOGOUT</a></li>
			<!--li><a href="http://www.strapui.com">MORE PREMIUM THEME</a></li-->
		</ul>
	</div>
	</snap-drawer> <snap-dragger></snap-dragger> <snap-content snap-opt-tap-to-close=false> 
	<a ng-click="menuOpen = !menuOpen" snap-toggle="left">
	<span class="menutoggle"><i class="fa fa-bars fa-2x" ng-hide="menuOpen"></i>
	<i class="fa fa-times fa-2x" ng-show="menuOpen"></i></span></a>
	<div class="fr">
		<h2>Pickup Cash 
		<div class="pull-right">
			<strong><i aria-hidden="true" class="fa fa-rupee"></i>upic</strong>&nbsp;</div>
			</h2>
	</div>
	<div class="container">
		<div class="panel">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-asterisk"></span>&nbsp;Account 
				Info</div>
			<div class="panel-body">
				<strong>ACCOUNT TYPE:</strong> Savings Account <br><strong>ACCOUNT 
				NO:</strong> 4444777755551681 <br><strong>BALANCE:</strong> 50,000
			</div>
		</div>
	</div>
	<div class="container">
		<div class="panel">
			<div class="panel-heading">
				<span class="fa fa-rupee"></span>&nbsp;Enter Cash Amount for Pick 
				up</div>
			<div class="panel-body">
				<form class="bottom-75" ng-submit="submit()" role="form">
					<div class="table-form">
						<div class="form-groups">
							<div class="form-group">
								<input class="form-control input-lg" placeholder="Please enter cash amount" type="text">
							</div>
							<!--div class="form-group">
										<input class="form-control input-lg" placeholder="PASSWORD" type="password">
									</div--></div>
						<div class="button-container">
							<!--img src="images/arrow.png"--></div>
					</div>
					<!--div class="remember">
								<span class="checkbox1">Register Now!</span>
								<!--label class="checkbox1" for="Option">
								<input id="Option" type="checkbox"> <span></span></label>remember 
								me--></div-->
				</form>
				<a class="btn btn-primary btn-lg btn-white pull-left" type="submit" ui-sref="reports">
				<i aria-hidden="true" class="fa fa-hand"></i>Collect Now</a>
				<a class="btn btn-primary btn-lg btn-white pull-right" type="submit" ui-sref="reports">
				Schedule</a> </div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="btn btn-primary btn-lg btn-white pull-right" pull-right="" ui-sref="login">
				Logout</a> </div>
		</div>
	</nav>
	</snap-content> </div>
