<div>
	<div ng-include="'/partials/menu.html'"></div>
	<snap-content snap-opt-tap-to-close=false> 
	<a ng-click="menuOpen = !menuOpen" snap-toggle="left">
	<span class="menutoggle"><i class="fa fa-bars fa-2x" ng-hide="menuOpen"></i>
	<i class="fa fa-times fa-2x" ng-show="menuOpen"></i></span></a>
	<div class="fr">
		<h3>Pickup details
		<div class="pull-right">
			<strong><i aria-hidden="true" class="fa fa-rupee"></i>upic</strong>&nbsp;</div>
			</h3>
	</div>
	<div ng-include="'/partials/accountinfo.html'">
	</div>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="container">
		<div class="alert alert-success text-center">
			Thank you! Your cash will be picked</div>
		<div class="panel">
			<div class="panel-heading">
				<span class="fa fa-check"></span>&nbsp;Pickup Details</div>
			<div class="panel-body">
				<div class="panel">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-hand-right"></span>&nbsp; 
						We will Pick your cash on</div>
					<div class="panel-body text-center">
						16/04/2017 7:40 PM<br>Pick Up Id: 342987 </div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-user"></span>&nbsp;Agent 
						Info</div>
					<div class="panel-body">
						<strong><span class="fa fa-thumbs-up"></span>&nbsp;Name: 
						Deepak Kumar</strong><br />
						<span class="glyphicon glyphicon-home"></span>&nbsp;<strong>Agency: 
						Shree Enterprises </strong><br />
						<span class="glyphicon glyphicon-earphone"></span>&nbsp;<strong>Phone: 
						996789806</strong> </div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'/partials/footer.html'"></div>
	</snap-content> 
</div>
