<div>
	<div data-ng-include="'partials/menu.html'">
	</div>
	<snap-content snap-opt-tap-to-close=false> 
	<a ng-click="menuOpen = !menuOpen" snap-toggle="left">
	<span class="menutoggle"><i class="fa fa-bars fa-2x" ng-hide="menuOpen"></i>
	<i class="fa fa-times fa-2x" ng-show="menuOpen"></i></span></a>
	<div class="fr">
		<h3>Pickup Cash <div class="pull-right">
			<strong><i aria-hidden="true" class="fa fa-rupee"></i>upic</strong></div></h3>
		
		 
	</div>
	<div data-ng-include="'partials/accountinfo.html'">
	</div>
	<div class="container-fluid">
		<div class="panel" ng-controller="pickupcashCtrl">
			<div class="panel-heading">
				<span class="fa fa-rupee"></span>&nbsp;Please enter Cash denominations</div>
			<div class="panel-body">
				{{myform | json }}
				<form ng-submit="submit(myform)" role="form" nsame="myform">
					<div class="table-form">
						<div class="form-groups">
							<div class="form-group">
								<div class="row">
									<div class="col-xs-2 col-md-2 text-right">
										100</div>
									<div class="col-xs-2 col-md-2">
										<button class="btn btn-white" ng-click="subtract(myform,'100')" ng-disabled="myform.denom100==0">
										<i aria-hidden="true" class="fa fa-minus">
										</i></button></div>
									<div class="col-xs-6 col-md-6">
										<input class="form-control" placeholder="" ng-disabled="true" ng-Keyup "add(myform,100)" type="text" ng-model="myform.denom100" value={{myform.denom100}} />
									</div>
									<div class="col-xs-2 col-md-2">
										<button class="btn btn-primary btn-white pull-right" ng-click="add(myform,100)">
										<i aria-hidden="true" class="fa fa-plus">
										</i></button></div>
								</div>
								<div class="row">
									<div class="col-xs-2 col-md-2 text-right">
										500</div>
									<div class="col-xs-2 col-md-2">
										<button class="btn btn-white" ng-click="subtract(myform,'500')" ng-disabled="myform.denom500==0">
										<i aria-hidden="true" class="fa fa-minus">
										</i></button></div>
									<div class="col-xs-6 col-md-6">
										<input class="form-control" ngKeyup "add(myform,500)" type="text" ng-disabled="true" ng-model="myform.denom500" value={{myform.denom500}}/>
									</div>
									<div class="col-xs-2 col-md-2">
										<button class="btn btn-primary btn-white pull-right" ng-click="add(myform,500)">
										<i aria-hidden="true" class="fa fa-plus">
										</i></button></div>
								</div>
								<div class="row">
									<div class="col-xs-2 col-md-2 text-right">
										1000</div>
									<div class="col-xs-2 col-md-2">
										<button class="btn btn-white" ng-click="subtract(myform,'1000')" ng-disabled="myform.denom1000==0">
										<i aria-hidden="true" class="fa fa-minus">
										</i></button></div>
									<div class="col-xs-6 col-md-6">
										<input class="form-control" ng-disabled="true" ngKeyup "add(myform,1000)" type="text" ng-model="myform.denom1000" value={{myform.denom1000}}/>
									</div>
									<div class="col-xs-2 col-md-2">
										<button class="btn btn-primary btn-white pull-right" ng-click="add(myform,1000)">
										<i aria-hidden="true" class="fa fa-plus">
										</i></button></div>

								</div>
								<div class="row">
									<div class="col-xs-2 col-md-2 text-right">
										2000</div>
									<div class="col-xs-2 col-md-2">
										<button class="btn btn-white" ng-click="subtract(myform,'2000')" ng-disabled="myform.denom2000==0">
										<i aria-hidden="true" class="fa fa-minus">
										</i></button></div>
									<div class="col-xs-6 col-md-6">
										<input class="form-control" ng-disabled="true" ngKeyup "add(myform,2000)" type="text" ng-model="myform.denom2000" value={{myform.denom2000}}/>
									</div>
									<div class="col-xs-2 col-md-2">
										<button class="btn btn-primary btn-white pull-right" ng-click="add(myform,2000)">
										<i aria-hidden="true" class="fa fa-plus">
										</i></button></div>
								</div>
								<div class="row">
									<div class="col-xs-4 col-md-6 text-center">
										<hr/>
										<strong>Total</strong></div>
									<div class="col-xs-8 col-md-6 text-left">
										<hr/>
										<strong ng-model="myform.total">{{myform.total}}</strong></div>
									</div>
								</div>	
								<div class="row">
									
								</div>
								<div class="row">
			<div class="col-xs-12 col-md-12">
				<button class="btn btn-primary btn-lg btn-white text-center" type="submit" ng-disabled="myform.total==0">
				<i aria-hidden="true" class="fa fa-flash"></i>&nbsp;<small>Collect 
				Now</small></button>
				<a class="btn btn-primary btn-lg btn-white text-center" type="submit" ui-sref="schedulepickup" ng-disabled="true">
				<i aria-hidden="true" class="fa fa-clock-o"></i>&nbsp;<small>Schedule</small></a>
			</div>
							</div>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>		
	</div>
	<div data-ng-include="'partials/footer.html'"></div>
	</snap-content> </div>
