<div>
	<snap-drawer> 
	<div class="snap-menu">
		<div class="sidebar-header text-center">
			<h1><i aria-hidden="true" class="fa fa-rupee"></i>upic</h1>
			<!--img class="sidebar-img img-circle" src="images/flat-avatar.png"-->
		</div>
		<ul class="snap-ul">
			<li ng-class="{active: $state.includes('overview')}">
			<a ui-sref="overview">Dashboard</a></li>
			<li ng-class="{active: $state.includes('reports')}">
			<a ui-sref="reports">Pickup Details</a></li>
			<li><a ui-sref="login">LOGOUT</a></li>
			<!--li><a href="http://www.strapui.com">MORE PREMIUM THEME</a></li-->
		</ul>
	</div>
	</snap-drawer> 
	<snap-dragger></snap-dragger> 
	<snap-content snap-opt-tap-to-close=false> 
	<a ng-click="menuOpen = !menuOpen" snap-toggle="left">
	<span class="menutoggle"><i class="fa fa-bars fa-2x" ng-hide="menuOpen"></i>
	<i class="fa fa-times fa-2x" ng-show="menuOpen"></i></span></a>
	<div class="fr">
		<h2>Pickup Cash 
		<div class="pull-right">
			<i aria-hidden="true" class="fa fa-rupee"></i>upic&nbsp;</div>
			</h2>
	</div>
	<div class="container">
		<div class="panel">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-asterisk"></span>&nbsp;Account 
				Info</div>
			<div class="panel-body">
				ACCOUNT TYPE: Savings Account <br>ACCOUNT NO: 4444777755551681
				<br>BALANCE: 50,000 </div>
		</div>
	</div>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="container">
		<div class="alert alert-success text-center">
			Thank you! Your cash will be picked</div>
		<div class="panel">
			<div class="panel-heading">
				<span class="fa fa-check"></span>&nbsp;Pickup Details</div>
			<div class="panel-body">
				<div class="panel">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-hand-right"></span>&nbsp; 
						We will Pick your cash on</div>
					<div class="panel-body text-center">
						16/04/2017 7:40 PM<br>Pick Up Id: 342987 </div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-user"></span>&nbsp;Agent 
						Info</div>
					<div class="panel-body">
						<strong><span class="fa fa-thumbs-up"></span>&nbsp;Name: 
						Deepak Kumar</strong><br />
						<span class="glyphicon glyphicon-home"></span>&nbsp;<strong>Agency: 
						Shree Enterprises </strong><br />
						<span class="glyphicon glyphicon-earphone"></span>&nbsp;<strong>Phone: 
						996789806</strong> </div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="btn btn-primary btn-lg btn-white pull-left" ui-sref="overview">
				Back</a>
				<a class="btn btn-primary btn-lg btn-white pull-right" ui-sref="login">
				Logout</a> </div>
		</div>
	</nav>
	</snap-content> 
</div>
